body {
    font-family: 'Inria Sans', sans-serif;
    margin: 50px auto;
    max-width: 1200px;
    padding: 70px 20px 0;
    background-color: rgb(214, 214, 214);
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(214, 214, 214, 0.9);
    margin: 0;
    padding: 0 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul :first-child {
    margin-right: auto; 
}

li {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-weight: lighter;
}

li > a {
    color: black;
    text-decoration: none;
}

li > a:hover {
    color: rgba(238, 163, 2, 1);
    transition: 450ms ease;
}

/* Header */
header h1 {
    font-weight: lighter;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 10px;
}

.main-content > div:first-child {
    flex: 1;
    min-width: 250px;
}

.main-content > div:last-child {
    flex: 2;
    display: flex;
    justify-content: center;
}

.main-content h3 {
    font-weight: lighter;
    margin-top: 0;
}

.project-img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
}

.view_project{
    background-color: black;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: lighter;
    transition: color 0.3s ease, transform 0.3s ease;
}

.view_project:hover{
    background-color: rgba(255, 59, 37, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    /*transform: scale(1.1);*/
    transition: 450ms ease;
    cursor: pointer;
}

.github-link i {
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
}

.github-link:hover i {
    color: /* rgba(81, 0, 121,0.5)*/ rgba(255, 59, 37, 1);
    transform: scale(1.1);
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

hr{
    margin: 75px 0px 65px 0px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px 25px 0px;
}

footer div {
    font-size: large;
}

footer h3 {
    font-size: larger;
    text-decoration: underline;
    margin-bottom: 10px;
}

.contact-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contact-link:hover {
    text-decoration: underline;
}
